<?php

$productCollection = $this->getProductCollection();

?>
<?php if(Mage::getStoreConfig('bestseller_options/messages/active') == 1 && Mage::getStoreConfig('bestseller_options/messages/select_side') == 2): ?>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span><?php echo $this->__('Bestseller Products') ?></span></strong>

    </div>

        <div class="block-content">
            <?php if($productCollection->count() > 0): ?>
                <ul>
                    <?php foreach($productCollection as $product): ?>

                        <li><a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $product->name ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(51,51); ?>" alt="<?php echo $product->name ?>" title="<?php echo $product->name ?>"/>
                                <span>
                                    <span><?php echo $product->name ?></span>
                                    <span><?php echo Mage::helper('core')->currency($product->price, true, false); ?></span>
                                </span></a></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif ?>
            <?php if($productCollection->count() == 0): ?>
                <span><?php echo  Mage::getStoreConfig('bestseller_options/messages/empty_message') ?></span>
            <?php endif ?>
        </div>
</div>
<?php endif ?>