<?php

$cartItems = $this->getProductsInCart();

?>

<div class="block block-list block-compare">

    <div class="block-title">
        <strong><span><?php echo $this->__('Write Your Review') ?></span></strong>
    </div>

    <div class="block-content">

        <?php if(count($cartItems) > 0): ?>
            <ul>
                <?php $i = 1; ?>
                <?php foreach($cartItems as $cartItem): ?>
                    <?php $product = $cartItem->getProduct(); ?>
                    <li  class="<?php echo ($i % 2 == 0 ? 'even' : 'odd') ?>"  >
                        <div  class="custom_review_item" onclick="showCompare('<?php echo Mage::getBaseUrl().'/customreview/customreview/?id='.$product->getId() ?>')">
                            <img src="<?php echo (string)Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(51,51); ?>" alt="<?php echo $product->name ?>" title="<?php echo $product->name ?>"/>
                            <span>
                                <span><?php echo $product->name ?></span>
                                <span><?php echo Mage::helper('core')->currency($product->price, true, false); ?></span>
                            </span>
                        </div>
                    </li>
                    <?php $i++; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif ?>
        <?php if(count($cartItems) == 0): ?>
            <span><?php echo 'You have no products in cart.' ?></span>
        <?php endif ?>

    </div>
</div>

<script type="text/javascript">// <![CDATA[
    function showCompare(url) {
        winCompare = new Window({className:'magento',title:'Write Your Review',url:url,width:820,height:600,minimizable:false,maximizable:false,showEffectOptions:{duration:0.4},hideEffectOptions:{duration:0.4}});
        winCompare.setZIndex(100);
        winCompare.showCenter(true);
    }

    // ]]>
</script>

<style>
    .custom_review_item{
        cursor: pointer;
    }
</style>